.boxDiv{
    display: flex;
    justify-content: center;
    margin: 100px;

}


.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 600px;
    box-shadow: 0 0 20px 0 #F2F0F7, 0 10px 10px 0 #F2F0F7;
}

.detailBoxDiv{
    display: flex;
    justify-content: center;
}

.imageBox{
    display: flex;
    flex-direction: column;
}

.photo{
width: 150px;
height: 150px;
margin: 10px;

}

.bigPhoto{

    width: 600px;
    height: 500px;
    margin-left: 10px;
}