.pageBox{
    display: flex;
    background-color: #F5F4FE;
    height: 300px;
	align-items: center;
    margin-bottom: 100px;
}

.Title{
    font-size: 40px;
}

.page{
    color: black;
}

.nowPage{
    color: #FF2E79;
    padding: 6px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.invoiceDiv{
    display: flex;
    box-shadow: 0 0 20px 0 #F2F0F7, 0 10px 10px 0 #F2F0F7;
    width: 800px;
    flex-direction: column;
   
}

.order{
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

.text{
    margin: 20px;
    font-size: 20px;
}

.line{
    background-color: gray;
    height: 1px;
    width: 800px;
    display: flex;
    justify-content: center;
}