.pageBox{
    display: flex;
    background-color: #F5F4FE;
    height: 300px;
    margin-bottom: 100px;
    align-items: center;
}

.Title{
    font-size: 40px;
}

.page{
    color: black;
}

.nowPage{
    color: #FF2E79;
    padding: 6px;
}


.productBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    box-shadow: 0 0 20px 0 #F2F0F7, 0 10px 10px 0 #F2F0F7;
    padding: 20px;
}

.box{

}