.addProductForm {
	background-color: #04aa3b;
    display: none;
	position: fixed;
	bottom: 0;
	right: 0px;
	border-radius: 15px 15px 0 0;
}

#open-button {
	background-color: #04aa3b;
	color: white;
	font-size: 20px;
	padding: 10px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
}


.productEachInfo{
	margin: 5px;
}